#test {
    text-decoration: underline;
}

#options {
    display:flex;
    gap: 20px
}

.optionsBox {
    display: flex
}

body {
    background-color: black;
    color: white;
}

.websiteTable {
    border: white solid;
    border-collapse: collapse;
    width: 100%
}

th{
    border-style: solid;
    border-bottom: solid white 1px
}

td {
    border-left-style: solid;
    border-bottom: dashed white 1px
}


td:where(:empty) {
    border-left-style: solid;
    border-bottom: none;
}

.mainInfo {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.timeTables {
    text-align: center;
}

.time {
    color:pink;
    border-color: white;
}

#alwaysUp {
    text-align: left;
}

.tooltiptext {
  visibility: hidden;
  width: 25vw;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.notVisted { 
    color: cyan
}

.partlyVisited {
    color:lime
}

.fullyVisited {
    color:darkblue
}

.fauxLink {
    text-decoration: underline;
}

.fauxLink:hover {
    cursor:pointer;
    color:blue;
    color: linear
}

.setting:not(:checked) ~ .tooltip > .tooltiptext > .optionsBox > input {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.setting:not(:checked) ~ .tooltip > .tooltiptext > .optionsBox{
    text-decoration: line-through;
}

.darkTooltip {
    background-color: rgb(71, 71, 71);
}

.tooltip > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tooltip:hover > .tooltiptext {
    visibility: visible;
}